<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="edu.neu.khojak.LocationReminder.GroupDetails"
            android:label="@string/title_activity_group_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="edu.neu.khojak.LocationReminder.CreateGroup" />
    </application>

</manifest>